@page "/C_Metas"
@using Parcial1_AP1_MiguelBetances.Components
@using Parcial1_AP1_MiguelBetances.Models
@using Parcial1_AP1_MiguelBetances.Service
@inject MetasService metasService

<PageTitle>Consultar Metas</PageTitle>
<div class="card">
    <div class="card-header">
        <h3 class="centrar-texto">Consulta de Metas</h3>
    </div>

    <div class="card-body">

        <div class="input-group-text">
            <label class="form-control-label col-1">Desde:</label>
            <div class="col-3">
                <input class="form-control" type="date" @bind="Desde" />
            </div>

            <label class="form-control-label col-1">Hasta:</label>
            <div class="col-3">
                <input class="form-control" type="date" @bind="Hasta" />
            </div>
            <div class="col-5">
                <button type="button" @onclick="Buscar" class="btn btn-primary  ">
                    <i class="oi oi-reload" />
                    <br />
                    Buscar
                </button>
            </div>

        </div>

        <br />
        <div class="row">
            <div class="col-3">
                <label class="form-control-label">Filtrar Por</label>
                <InputSelect @bind-Value="FiltrarPor" class="form-select">
                    <option value="0">Id</option>
                    <option value="1">Persona</option>
                    <option value="2">Fecha</option>
                </InputSelect>
            </div>
            <div class="col-3">
                @if (FiltrarPor == 0)
                {
                    <label class="form-control-label">Id</label>
                    <InputNumber @bind-Value="MetasId" class="form-control"></InputNumber>
                }
                @if (FiltrarPor == 1)
                {
                    <label class="form-control-label">Persona</label>
                    <InputText @bind-Value="Persona" class="form-control"></InputText>
                }

            </div>
        </div>



        @if (metas is not null)
        {
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>MetasId</th>
                        <th>Fecha</th>
                        <th>Persona</th>
                        <th>Observaci&omicron;n</th>
                        <th>Monto</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var metas  in metas )
                    {
                        <tr>
                            <td>@metas.MetasId</td>
                            <td>@metas.Fecha.ToString("dd/MM/yyyy")</td>
                            <td>@metas.Persona</td>
                            <td>@metas.Observacion</td>
                            <td>@metas.Monto</td>

                            <td><a href="R_Metas/@metas.MetasId">Ver</a></td>
                        </tr>
                    }
                    <tr>
                        <td>Conteo = @Conteo</td>
                        <td></td>
                        <td></td>
                        <td class="text-end">Monto Total =</td>
                        <td> @MontoTotal</td>
                    </tr>

                </tbody>

            </table>
        }
    </div>
    <div class="card-footer">
        <div class="form-row justify-content-sm-between" aria-orientation="vertical">
        </div>
    </div>
</div>

@code {

    public List<Metas> metas = new List<Metas>();

    public int FiltrarPor = 3;
    public int Conteo = 0;
    public decimal MontoTotal = 0.00M;

    [Parameter]
    public int MetasId { get; set; }
    [Parameter]
    public string Persona { get; set; }

    public DateTime Desde { get; set; }
    public DateTime Hasta { get; set; }

    protected override void OnInitialized()
    {
        metas = metasService.GetList(t => true);
        Conteo = metas.Count;
        MontoTotal = metas.Sum(aporte => aporte.Monto);
        Desde = DateTime.Now.AddMonths(-1);
        Hasta = DateTime.Now;
    }

    public void Buscar()
    {
        Hasta = new DateTime(Hasta.Year, Hasta.Month, Hasta.Day, 23, 59, 59);
        if (FiltrarPor == 0)
        {
            if (MetasId <= 0)
                metas = metasService.GetList(t => true);
            else
                metas = metasService.GetList(t => t.MetasId == MetasId);
        }
        if (FiltrarPor == 1)
        {
            if (string.IsNullOrEmpty(Persona))
            {
                metas = metasService.GetList(t => true);
            }
            else
            {
                metas = metasService.GetList(t => t.Persona.ToLower().StartsWith(Persona.ToLower()));
            }
        }
        if (FiltrarPor == 2)
        {
            metas = metasService.GetList(t => true && t.Fecha >= Desde && t.Fecha <= Hasta);
        }


        Conteo = metas.Count;
        MontoTotal = metas.Sum(a => a.Monto);
    }
}

